<div class="box">
    <div class="col-md-12 text-center">
        <button class="logout-button" (click)="logout()">Deconnexion</button>
    </div>
    <h2>Gestion des services</h2>
    <div class="services">
        <div class="list-services">
            <h4>=> Liste des Service</h4>
            <div *ngFor="let service of services" class="service">
                <input type="text" name="titre" placeholder="titre" [(ngModel)]="service.titre"/>
                <textarea name="paragraphe" class="block" placeholder="paragraphe" id="paragraphe" cols="50" rows="10" [(ngModel)]="service.paragraphe"></textarea>
                <label for="photoService">Image actuelle du service :</label>
                <img [ngStyle]="service.image && {'height':'200px', 'width':'300px'}" *ngIf="service.image"
                    [src]="serverImg+service.image" alt="service.titre">
                <label for="photoService">Modifier l'image du service :</label>
                <input type="file" (change)="modifyImageService($event)" name="photoService" id="photoService" class="block"/>
                <div class="line">
                    <button class="delete" (click)="deleteService(service._id)">Supprimer</button>
                    <button class="modify" (click)="modifyService(service)">Modifier</button>
                </div>
            </div>
        </div>
        <div class="new-service">
            <h4>=> Ajouter un service</h4>
            <input type="text" name="titre" placeholder="titre" [(ngModel)]="titre"/>
            <textarea name="paragraphe"  placeholder="paragraphe" id="paragraphe" cols="5" rows="10" [(ngModel)]="paragraphe"></textarea>
            <input type="file" (change)="onImageService($event)" name="image" id="image" />
            <button (click)="createService()">ajouter</button>
        </div>
    </div>
    <h2>Gestion des artistes</h2>
    <div class="artistes">
        <div class="list-artistes">
            <h4>=> Liste des artistes</h4>
            <div *ngFor="let page of pages" class="artiste">
                <p>{{ page.artiste.nom }}</p>
                <img [ngStyle]="page.artiste.photo && {'height':'200px', 'width':'300px'}" *ngIf="page.artiste.photo"
                    [src]="serverImg + page.artiste.photo" alt="artiste.nom">
                <button class="delete" (click)="deleteArtiste(page.artiste._id)">Supprimer</button>
            </div>
        </div>
        <div class="new-artiste">
            <h4>=> Ajouter un artiste</h4>
            <div class="artiste-form">
                <input type="text" name="nom" placeholder="nom" [(ngModel)]="newArtiste.nom"/>
                <label for="photoArtiste">Sélectionner l'image de l'artiste à afficher sur le carousel de la page principale :</label>
                <input type="file" (change)="onPhotoArtiste($event)" name="photo" id="photo" />
                <button (click)="createArtiste()">ajouter</button>
            </div>
        </div>
    </div>
    <div class="gestion_artiste">
        <h2>Gestion de la page des artistes</h2>
        <select [(ngModel)]="artistePage" (change)="switchArtistePage()" class="block">
            <option value="" disabled selected>selectionner l'artiste</option>
            <option *ngFor="let page of pages" [value]="page.artiste.nom">{{ page.artiste.nom }}</option>
        </select>
        <textarea name="description" class="block" placeholder="description" id="description" cols="50" rows="10" [(ngModel)]="page.description"></textarea>
        <img *ngIf="page.artiste?.photo" [src]="serverImg + page.artiste?.photo" alt="photo principale">
        <label for="photoArtistePage">Sélection de la photo à afficher sur la page de l'artiste</label>
        <input type="file" (change)="onPhotoArtistePage($event)" name="photoArtistePage" id="photoArtistePage" class="block"/>
        <div>
            <span>lien facebook : </span>
            <input type="text" name="facebook" placeholder="lien facebook" [(ngModel)]="page.facebook"/>
        </div>
        <div>
            <span>lien twitter : </span>
            <input type="text" name="twitter" placeholder="lien twitter" [(ngModel)]="page.twitter"/>
        </div>
        <div>
            <span>lien instagram : </span>
            <input type="text" name="instagram" placeholder="lien instagram" [(ngModel)]="page.instagram"/>
        </div>
        <div>
            <span>lien youtube : </span>
            <input type="text" name="youtube" placeholder="lien youtube" [(ngModel)]="page.youtube"/>
        </div>
        <div>
            <span>lien tiktok : </span>
            <input type="text" name="youtube" placeholder="lien tiktok" [(ngModel)]="page.tiktok"/>
        </div>
    </div>
    <div class="projets">
        <h3>=> Gestion des projets</h3>
        <h5>Liste des projets : </h5>
        <p *ngIf="!page.projets || page.projets.length === 0">Pas de projet ajouté pour le moment</p>
        <div *ngFor="let projet of page.projets; let i = index">
            <div class="container_projet">
                <div class="projet">
                    <p>{{ projet.projetName }}</p>
                    <img *ngIf="projet.image" [ngStyle]="{'height':'200px', 'width':'300px'}" [src]="serverImg + projet.image" alt="image projet">
                </div>
                <div class="actions_projet">
                    <button class="delete" (click)="deleteProjet(i)">Supprimer</button>
                    <button class="modify" (click)="modifierProjet(i)">Modifier</button>
                </div>
            </div>
        </div>
        <h5>Ajouter/Modifier un projet:</h5>
        <div class="imageProjet">
            <label for="logo">Sélection de l'image associée au projet (pochette, couv...)</label>
            <input type="file" (change)="imageProjet($event)" name="logo" id="logo" />
        </div>
        <input type="text" name="nom" placeholder="nom du projet" [(ngModel)]="newProjet.projetName"/>
        <label for="logo">Sélection du type de projet : </label>
        <select [(ngModel)]="newProjet.projetType" (change)="switchArtistePage()" class="block">
            <option value="album" selected>album</option>
            <option value="single">single</option>
        </select>
        <input type="text" name="nom" placeholder="lien du projet" [(ngModel)]="newProjet.projetLink"/>
    </div>
    <button (click)="modifierArtistePage()">modifier la page de l'artiste</button>
</div>