.box {
    background: #000000 !important;
    color: white;
    text-align: center;
}

h2 {
    margin-top: 2%;
}

.services, .artistes, .new-nouveaute {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1% 2%;
}

.new-service {
    display: flex;
    flex-direction: column;
}

.service {
    border: 1px solid white;
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.artiste {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 2%;
    margin: 2%;
}

.artiste-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
}

button {
    width: 150px;
}

input {
    margin: 5px;
    width: 300px;
}

.delete {
    background-color: #a03636;
    color: white;
    margin: 1%;
}

.modify {
    background-color: rgb(0, 141, 0);
    color: white;
    margin: 1%;
}

.block {
    display: block;
    margin: auto;
}

.success {
    color: greenyellow;
}

.line{
    display: flex;
    flex-direction: row;
}

.logoArtiste {
    display: flex;
    flex-direction: column;

}

.add_projet {
    display: flex;
    flex-direction: column;
}

.projets, .gestion_artiste {
    margin: 15px;
    padding: 10px;
    border: solid 1px white;
}


input, button {
    margin: 1% auto;
}

.projets, .imageProjet, .gestion_artiste {
    display: flex;
    flex-direction: column;
}

img {
    height: 200px; 
    width: 300px;
    margin: auto;
}

.container_projet{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
}

.actions_projet {
    margin-top: 100px;
}