<ul class="nav justify-content-center">
  <li class="nav-item active">
    <a class="nav-link" href="#home" (click)="activeHeader('home')"><button class="btn btn-link mb-2" [ngClass]="active === 'home' ? 'current' : ''">Home</button></a>
  </li>
  <li class="separator">|</li>
  <li class="nav-item active">
    <a class="nav-link" href="#news" (click)="activeHeader('news')"><button class="btn btn-link mb-2" [ngClass]="active === 'news' ? 'current' : ''">News</button></a>
  </li>
  <li class="separator">|</li>
  <li class="nav-item active">
    <a class="nav-link" href="#artistes" (click)="activeHeader('artistes')"><button class="btn btn-link mb-2" [ngClass]="active === 'artistes' ? 'current' : ''">Nos artistes</button></a>
  </li>
  <li class="separator">|</li>
  <li class="nav-item active">
    <a class="nav-link" href="#services" (click)="activeHeader('services')"><button class="btn btn-link mb-2" [ngClass]="active === 'services' ? 'current' : ''">Nos services</button></a>
  </li>
  <li class="separator">|</li>
  <li class="nav-item active">
    <a class="nav-link" href="#qui" (click)="activeHeader('qui')"><button class="btn btn-link mb-2" [ngClass]="active === 'qui' ? 'current' : ''">Qui sommes-nous ?</button></a>
  </li>
  <li class="separator">|</li>
  <li class="nav-item active">
    <a class="nav-link" href="#contact" (click)="activeHeader('contact')"><button class="btn btn-link mb-2" [ngClass]="active === 'contact' ? 'current' : ''">Contact</button></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" routerLink="admin-f"><i class="fa fa-lock"></i></a>
  </li>
</ul>