<ul class="nav justify-content-center">
  <li class="nav-item active">
    <a class="nav-link" routerLink=""><button class="btn btn-link mb-2">Home</button></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" routerLink=""><button class="btn btn-link mb-2">News</button></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" routerLink="series"><button class="btn btn-link mb-2">Nos artistes</button></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" routerLink="series"><button class="btn btn-link mb-2">Nos services</button></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" routerLink="series"><button class="btn btn-link mb-2">Qui sommes-nous ?</button></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" routerLink="series"><button class="btn btn-link mb-2">Contact</button></a>
  </li>
</ul>