<ul class="nav">
  <li class="nav-item titre">
    <h1 (click)="redirect('/')">Nderrated</h1>
  </li>
  <li class="nav-item active">
    <div class="dropdown">
      <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Nos artistes
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li *ngFor="let artiste of artistes">
          <a class="dropdown-item"  [routerLink]="['/artiste', artiste.nom]">{{ artiste.nom }}</a>
        </li>
      </ul>
    </div>
  </li>
  <li class="separator">|</li>
  <li class="nav-item active">
    <a class="nav-link" href="#services" (click)="activeHeader('services')"><button class="btn btn-link mb-2" [ngClass]="active === 'services' ? 'current' : ''">Nos services</button></a>
  </li>
  <li class="separator">|</li>
  <li class="nav-item active">
    <a class="nav-link" href="#qui" (click)="activeHeader('qui')"><button class="btn btn-link mb-2" [ngClass]="active === 'qui' ? 'current' : ''">Qui sommes-nous ?</button></a>
  </li>
  <li class="separator">|</li>
  <li class="nav-item active">
    <a class="nav-link" (click)="redirect('/contact')"><button class="btn btn-link mb-2" [ngClass]="active === 'contact' ? 'current' : ''">Contact</button></a>
  </li>
</ul>