<div class="services">
    <owl-carousel-o [options]="customOptions" *ngIf="services.length > 0">
        <ng-container *ngFor="let item of services" >
            <ng-template carouselSlide>
                <div class="slide">
                    <div class="infos">
                        <h3 *ngIf="item.titre">{{ item.titre }}</h3>
                        <p *ngIf="item.paragraphe">{{ item.paragraphe }}</p>
                    </div>
                    <img *ngIf="item.image" [src]="serverImg + item.image" [alt]="item.image">
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>
