.form{
    display: flex;
    flex-direction: column;
    margin: 0;
}

button, input {
    background-color: white;
}

h3{
    background-color: aqua;
}

p{
    background-color: aquamarine;
    margin: 0;
}