img {
    height: 500px;
    width: 90% !important;
    margin: auto;
}

.infos{
    position: absolute;
    left: 5%;
    top: 5%;
    h3{
      text-align: center;
    }
    p{
      white-space: pre-wrap;
      text-align: center;
      font-weight: 600;
      font-size: 15px;
      width: 90%;
      padding-bottom: 50px;
    }
}


::ng-deep .owl-prev, ::ng-deep .owl-next {
    position:absolute;
    top: 30%;
    background-color:transparent !important;
    color: white !important;
  }
  
  ::ng-deep .owl-prev {
    left: 0;
  }
  
  ::ng-deep .owl-next {
    right: 0;
  }

  .services {
    margin-top: 200px;
  }