.form{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    padding-left: 10%;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;
}

.card-body {
    flex: 1 1 25%;
    max-width: 25%;
}

h3{
    background-color: rgb(246, 243, 243);
    margin: 0;
}

h3, p {
    padding: 5%;
}

p{
    background-color: rgb(246, 243, 243);
    margin: 0;
    overflow-y: scroll;
    height: 250px;
}

hr {
    margin: 0;
}

textarea, input {
    background-color: white;
    width: 200px;
}
button {
    background-color: white;
    width: 100px;
}
