.box {
    padding: 5%;
    background: linear-gradient(to bottom, #000000, #bcc7cc) !important;
    color: white;
}

h1 {
    font-style: italic;
    font-size: 6rem;
}

strong {
    color: #ffff2b;
}