<div class="box">
    <h1>Qui sommes-nous ?</h1>
    <p class="paragraphe">
        <strong>NDERRATED</strong> est un label indépendant, fondé en 2022 par Wesley et Inessia, distribué par Believe.
    </p>
    <p class="paragraphe">
        <strong>NDERRATED</strong>, de l’anglais "underrated" signifiant "sous-estimer" montre la philosophie du label, sa vision, soit :
    </p>        
    <p class="paragraphe">
        La recherche, la découverte de diamants bruts qui ne demandent qu’à être taillés, polis, travaillés pour éblouir par la beauté de leur talent et faire émerger des artistes qui feront échos sur la scène musicale de demain.
    </p>
    <p class="paragraphe">
        C’est un label qui privilégie, l’accompagnement, le développement (toujours en accord avec la vision de l’artiste) d’une carrière sur le long terme plutôt que le One Hit Wonder ou le buzz éphémère, le tout dans un esprit "famille de cœur".
    </p>
    <p class="paragraphe">
        La devise du label est la pierre angulaire de cette philosophie de recherche d’artiste :
    </p>
    <p class="paragraphe">
        <strong class="slogan">« On n’est jamais aussi redoutable que lorsque l’on est sous-estimé »</strong>
    </p>
    <p class="paragraphe">
        Mettre en lumière ces artistes qui n’ont pas conscience de leur talent et de leur potentiel, qui se sous-estiment ou ont été sous-estimés, pour les révéler aux yeux du grand public.
    </p>
    <p class="paragraphe">
        C’est la mission, l’ikigai de <strong>NDERRATED</strong> !
    </p>
</div>