<section class="contact bg-dark">
    <form (ngSubmit)="sendMail()" class="contact-form">
        <h2 class="title">Pour nous <strong>contacter</strong></h2>
        <input type="text" placeholder="Nom" name="name" id="name" />
        <input type="email" placeholder="Email" name="email" id="email" />
        <input
            type="text"
            placeholder="Votre message ..."
            name="message"
            id="message"
        />
        <div>
        <button>Soumettre</button>
        </div>
    </form>
</section>