.block{
    padding: 5%;
    min-height: 100vh;
    height: auto;
    color: white;
}

h1{
    font-style: italic;
    font-size: 6rem;
}

.artistes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.artiste-nom{
    padding: 20% 40%;
    font-weight: 900;
    font-style: italic;
}

.photo {
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 5px;
}