img {
    height: 300px;
}

h3{
    position: absolute;
    color: white;
    left: 40%;
    top: 5%;
}

::ng-deep .owl-prev, ::ng-deep .owl-next {
    position:absolute;
    top: 30%;
    background-color:transparent !important;
  }
  
  ::ng-deep .owl-prev {
    left: 0;
  }
  
  ::ng-deep .owl-next {
    right: 0;
  }