<div class="component" *ngIf="page">
    <div class="infos">
        <h1>{{ artiste }}</h1>
        <div class="reseaux">
            <a *ngIf="page.instagram" [href]="page.instagram" target="_blank">
                <i class="fab fa-instagram fa-2x"></i></a>
            <a *ngIf="page.facebook" [href]="page.facebook" target="_blank">
                <i class="fab fa-facebook fa-2x"></i></a>
            <a *ngIf="page.twitter" [href]="page.twitter" target="_blank">
                <i class="fab fa-twitter fa-2x"></i></a>
            <a *ngIf="page.youtube" [href]="page.youtube" target="_blank">
                <i class="fab fa-youtube fa-2x"></i></a>
            <a *ngIf="page.tiktok" [href]="page.tiktok" target="_blank">
                <i class="fab fa-tiktok fa-2x"></i></a>
        </div>
    </div>
    <img class="photo_principale" *ngIf="page.photo" [src]="serverImg + page.artiste.photo" alt="page.photo">
    <div class="projets" *ngFor="let projet of page.projets; let i = index">
        <div class="projet">
            <img class="photo" *ngIf="projet.image" [src]="serverImg + projet.image" alt="image projet">
            <div>
                <div class="details">
                    <h2>{{ artiste }}</h2>
                    <h2 class="projetName">{{ projet.projetName }}</h2>
                    <h3>{{ projet.projetType }}</h3>
                </div>
                <button (click)="listen(projet.projetLink)">ÉCOUTER | TÉLÉCHARGER</button>
            </div>
        </div>
        <hr *ngIf="i+1 < page.projets.length">
    </div>
</div>